.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    align-items: normal;
    justify-items: normal;
    align-content: space-around;
    height: 500px;
    

    border: 2px solid black;
}

.item {
    background-color: brown;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}