.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    /*grid-template-rows: 100px;
    grid-template-columns: 100px 35% 2fr ;*/
    grid-auto-flow: row;
    gap: 10px;


    

    border: 2px solid black;
}

.item {
    background-color: rgb(228, 205, 205);
    padding: 10px;
    text-align: center;
    border: 1px solid black;

}

#box1 {
    grid-area: 1 / 1 / span 1 / span 4
    
}

#box2 {
    grid-area: 2 / 1 / span 2 / span 2 
    /* row-star / column-star / row-end / column-end */
  
}

#box3 {
    grid-area: 2 / 3 / span 2 / span 2;
}